
 <!-- <h1 class=" text-center  text-dark">STOCK MARKETING</h1> -->
 <div class= "container rounded">
 <div class="row mb-3">
 <div class="col-5 my-5 ">
     <div class="card">  
        <h1 class=" text-center  bg-success text-white "> STOCK MARKETING </h1>  
     <div class="card my-card border border-curved text-center btn btn-outline-success" onclick="location.href='adminlanding'">
             <div class=" bg-light text-dark text-center">
             <h3 class="card-title display-5">Admin</h3>
            </div>  
         </div><br>
         <div class="card my-card border border-curved text-center btn btn-outline-success" onclick="location.href='userlanding'">
            <div  class=" bg-light text-dark text-center">
            <h3 class="card-title display-5 ">User</h3>
         </div>
          </div>
        </div> 
     
 </div>
 
</div>
</div>

 
