<p>A stock market, equity market or share market is the aggregation of buyers and sellers (a loose network of economic transactions, 
    not a physical facility or discrete entity) of stocks (also called shares), 
    which represent ownership claims on businesses; these may include securities listed on a public stock exchange, as well as stock that is only traded privately,
     such as shares of private companies which are sold to investors through equity crowdfunding platforms. 
     Investment in the stock market is most often done via stockbrokerages and electronic trading platforms. 
     Investment is usually made with an investment strategy in mind.</p>
     <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div style="width: 960px; height: auto; position: relative; margin:0px; padding-left: 29px; overflow: hidden; background-color: white;">
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/s1.jpg" alt="Los Angeles" width="960" height="400">
          </div>
          <div class="carousel-item">
            <img src="../../assets/s2.jpg" alt="Chicago" width="960" height="400">
          </div>
          <div class="carousel-item">
            <img src="../../assets/stock1.jpg" alt="New York" width="960" height="400">
          </div>
        </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
        
      </div>
     
      
     