<div class = "table-responsive">
<table class="table ">
    <tr>
        <th>id</th>
        <th>companyname</th>
        <th>opendatetime</th>
        <th>pricepershare</th>      
        <th>remarks</th>
        <th>stockexchange</th>  
        <th>totalstocks</th>      
        <th>actions</th> 
    </tr>
    <tr *ngFor="let ipo of ipoData">
        <td>{{ipo.id}}</td>
        <td>{{ipo.companyname}}</td>
        <td>{{ipo.opendatetime}}</td>
        <td>{{ipo.pricepershare}}</td>
        <td>{{ipo.remarks}}</td>
        <td>{{ipo.stockexchange}}</td>
        <td>{{ipo.totalstocks}}</td>
       
         <td><button class="btn btn-danger" [routerLink]="['/ipo']" (click)="deleteIpo(ipo)">Delete</button>
         <button class="btn btn-primary" [routerLink]="['/ipo']" (click)="updateIpo(ipo)">Update</button> 
         </td>  
    </tr>
</table>

<button class="btn btn-primary center" (click)="addIpo(ipo)">AddIpo</button> 
</div>