
    <header>
        <form [formGroup]="adlogform" (ngSubmit) ="onSubmit()"></form>
        <!-- <h1 class="display-3 text-center my-4">Stock Market Charting</h1>
        <div class="container">
          <div class="row">

            <div class="col-md-3"> -->
              <!-- <div class="dropdown">
                <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                  1: Import Data
                </button>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                  <a class="dropdown-item" href="importdata.html">1.import data in excel</a>
                 </div>
              </div>
            </div> 
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="dropdown">
                <button class="btn btn-success btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                  2: Manage Company
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="addcompany.html">2.1 addcompany</a>
                  <a class="dropdown-item" href="updatecompany.html">2.2 updatecompanydetails</a>
                  <a class="dropdown-item" href="deletecompany">2.3 deletecompany</a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="dropdown">
                <button class="btn btn-warning btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                  3: Manage Exchange
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="BSE.html">3.1 BombayStockExchange</a>
                  <a class="dropdown-item" href="NSE.html">3.2 NationalStockExchange</a>
                  <a class="dropdown-item" href="registerstock">3.3 RegisterNew StockExchane</a>
                
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="dropdown">
                <button class="btn btn-danger btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                  4: Update IPO
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="ipodetails.html">4.1 addIPOdetails</a>
                 </div>
              </div>
            </div>
          </div>

        </div>
        <hr> -->
        <div class="row mb-3">
          <div class="col-5 my-5 ">

              <div class="card">  

                 <h1 class=" text-center  bg-secondary text-white "> STOCK MARKETING </h1>  <br>
              <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='importdata'">
                      <div class=" bg-secondary text-white text-center">
                      <h6 class="card-title display-4">ImportData</h6>
                     </div>  
                  </div>

                  <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='userlanding'">
                     <div  class=" bg-secondary text-white text-center">
                     <h6 class="card-title display-4 ">ManageCompany</h6>
                  </div>
                   </div>

                   <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='userlanding'">
                    <div  class=" bg-secondary text-white text-center">
                    <h6 class="card-title display-4 ">ManageExchange</h6>
                 </div>
                  </div>

                  <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='userlanding'">
                    <div  class=" bg-secondary text-white text-center">
                    <h6 class="card-title display-4 ">Update IPO details</h6>
                 </div>
                  </div>
                 </div> 
              
          </div>
          
         </div>
         
      </header>
     