
    <header>
        <form [formGroup]="adlogform" (ngSubmit) ="onSubmit()"></form>
       
        <div class="row mb-3">
          <div class="col-6 my-3 ">

              <div class="card border border-curved text-center">  

                 <h1 class=" text-center  bg-light text-dark "> STOCK MARKETING </h1>  <br>
              <div class="card my-card border border-curved text-center btn btn-outline-success" onclick="location.href='importdata'">
                      <div class=" bg-light text-dark text-center">
                      <h6 class="card-title display-4">ImportData</h6>
                     </div>  
                  </div>

                  <div class="card my-card border border-curved text-center btn btn-outline-success" onclick="location.href='managecompany'">
                     <div  class=" bg-light text-dark text-center">
                     <h6 class="card-title display-4 ">ManageCompany</h6>
                  </div>
                   </div>

                   <div class="card my-card border border-curved text-center btn btn-outline-success" onclick="location.href='userlanding'">
                    <div  class=" bg-light text-dark text-center">
                    <h6 class="card-title display-4 ">ManageExchange</h6>
                 </div>
                  </div>

                  <div class="card my-card border border-curved text-center btn btn-outline-success" onclick="location.href='userlanding'">
                    <div  class=" bg-light text-dark text-center">
                    <h6 class="card-title display-4 ">Update IPO details</h6>
                 </div>
                  </div>
                 </div> 
              
          </div>
          
         </div>
         
      </header>
     