<header>
    <form [formGroup]="managecompanyform" (ngSubmit) ="onSubmit()"></form>
<div class="row mb-3">
    <div class="col-5 my-5 ">

        <div class="card pt-5 mt-5">  

           <h1 class=" text-center  bg-secondary text-white "> Manage Company </h1>  <br>
        <div class="card my-card border border-curved text-center btn btn-outline-success" onclick="location.href='importdata'">
                <div class=" bg-light text-dark text-center">
                <h6 class="card-title display-4">AddCompany</h6>
               </div>  
            </div>

            <div class="card my-card border border-curved text-center btn btn-outline-success" onclick="location.href='userlanding'">
               <div  class=" bg-light text-dark text-center">
               <h6 class="card-title display-4 ">DeleteCompany</h6>
            </div>
             </div>

             <div class="card my-card border border-curved text-center btn btn-outline-success" onclick="location.href='userlanding'">
              <div  class=" bg-light text-dark text-center">
              <h6 class="card-title display-4 ">UpdateCompany</h6>
           </div>
            </div>

           
           </div> 
        
    </div>
    
   </div>
   
</header>

