
<div class="card text-center">
    <div class="card-header">
       <h5 class="card-title">User</h5>
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link " href="#">IPOs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Compare Company </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Compare Sectors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Other</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
      </ul>
    </div>
  </div>