
<div class="container">
    <form [formGroup]="updateCompany" (ngSubmit) ="onSubmit()"> 
        <div class="form-group ">
              
            <label for="id" class="text-primary">Company ID:</label>
            <input type="number" formControlName="id" 
            placeholder="Enter Company Name" name="id" class="form-control" id="id" required>
       
        
        </div>
        <div class="form-group ">
              
            <label for="companyname" class="text-primary">Company Name:</label>
            <input type="text" formControlName="companyname" 
            placeholder="Enter Company Name" name="companyname" class="form-control" id="companyname" required>
       
        
        </div>
        
        <div class="form-group ">
              
            <label for="ceo" class="text-primary">CEO:</label>
            <input type="text" formControlName="ceo" 
            placeholder="Enter CEO name" name="ceo" class="form-control" id="ceo" required>
       
        
        </div>
        <div class="form-group ">
              
            <label for="bod" class="text-primary">Board of Director:</label>
            <input type="text" formControlName="bod" 
            placeholder="Enter Board of Director" name="bod" class="form-control" id="bod" required>
       
        
        </div>
        <div class="form-group ">
              
            <label for="turnover" class="text-primary">TurnOver:</label>
            <input type="number" formControlName="turnover" 
            placeholder="Enter Company TurnOver" name="turnover" class="form-control" id="turnover" required>
       
        
        </div>
        
        <div class="form-group ">
              
            <label for="sector" class="text-primary">Sector:</label>
            <input type="sector"  formControlName="sector" 
            placeholder="Name of Sector" name="sector" class="form-control" id="sector" required>
        
        </div>
        
       
        <div class="form-group">
            <button class="btn btn-success" (click)="updateTheCompany()" [disabled]="!updateCompany.valid">UpdateCompany</button>
           
        </div><br><br>
    
 </form> 
 </div>

